* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    background: #F7F8FB;
    font-family: Oswald;
}

a {
    text-decoration: none;

}

.softair-doc {
    display: flex;
    gap: 40px;
}

.left-sidebar {
    min-width: 290px;
    margin: 60px 0 0 60px;
}

nav {
    position: fixed;
    width: 290px;
    z-index: 1000;
    border: 1px solid #B4B4B4;
    background: #FFF;
    border-bottom: none;
    border-radius: 20px;
}

.heading-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding: 24px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #B4B4B4;
    background: linear-gradient(94deg, #CC254A 5.84%, #C9044B 94.81%);
}

.line-break {
    background: rgba(33, 32, 32, 0.40);
}

.side-link {
    display: block;
    padding: 16px 24px;
    color: rgba(33, 32, 32, 0.70);
    font-size: 18px;
    border-bottom: 1px solid #B4B4B4;
}

.last-side-link {
    border-radius: 20px;
}

.active {
    border-bottom: 1px solid #CC254A;
    background: linear-gradient(94deg, #CC254A 5.84%, #C9044B 94.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-sidebar {
    width: 950px;
    fill: #FFF;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.10));
    margin: 60px 60px 0 0;
}

.right-heading-title {
    color: #212020;
    background: none;
    padding-left: 30px;
    border-bottom: 0;
}

.line-break-right {
    width: 100%;
}

.introduction {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 60px;
}

.btn-group {
    display: flex;
    align-items: baseline;
}

.menu-btn {
    border: none;
    background: none;
    display: none;
    margin-right: 20px;
}

.introduction-section {
    margin-top: 30px;
}

.intro-title {
    color: #212020;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    padding-left: 30px;
    padding-right: 10px;
}

.intro-subtitle {
    color: rgba(33, 32, 32, 0.70);
    font-size: 18px;
    padding-right: 10px;
}

.intro-description {
    padding-bottom: 40px;
}

.description-heading {
    color: rgba(33, 32, 32, 0.70);
    font-size: 18px;
    max-width: 700px;
    padding-left: 30px;
    padding-right: 10px;
}


.description-title {
    color: #212020;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
}

.line-gap {
    margin-top: 40px;
}

.package-structure {
    margin-top: 40px;
}

.package-structure-file {
    margin-top: 16px;
    margin-bottom: 30px;
}

.folder-group {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 30px;
}

.package-title {
    padding-left: 0;
}

.folder-icon {
    font-size: 24px;
    color: #CC254A;
}

.template-feature {
    margin-top: 40px;
}

.feature-item {
    margin-bottom: 16px;
}

ul, ol {
    padding-left: 50px;
}

.template-feature-heading {
    margin-top: 40px;
}

.template-feature-sub {
    padding-left: 30px;
    margin-bottom: 16px;
}

.credits-item {
    margin-top: 16px;
    margin-bottom: 40px;
}

.credits-note {
    color: #212020;
    font-weight: 500;
}

.edit-figma-title {
    padding-right: 30px;
}

.edit-figma-video {
    padding: 30px;
}

.youtube-video {
    border-radius: 30px;
}

iframe {
    width: 100%;
    height: 369px;
}


/* ==============================Extra Large Device============================== */
@media (min-width: 992px) and (max-width: 1299.98px) {
    .left-sidebar {
        min-width: 250px;
        margin: 30px 0 0 30px;
    }

    .right-sidebar {
        margin: 30px 30px 0 0;
    }

    nav {
        width: 250px;
        border-radius: 20px;
    }

    .side-link {
        display: block;
        padding: 14px 22px;
        color: rgba(33, 32, 32, 0.70);
        font-size: 16px;
        border-bottom: 1px solid #B4B4B4;
    }

    iframe {
        height: 320px;
    }
}

/* ============================== Small Device============================== */
@media (min-width: 576px) and (max-width: 991.98px) {
    .left-sidebar {
        display: none;
        width: 150px;
        margin: 0;
    }

    nav {
        position: absolute;
        width: 150px;
    }

    .table-content {
        font-size: 14px;
        padding: 17px;
    }

    .heading-title {
        font-size: 24px;
    }

    .table-content {
        font-size: 16px;
    }

    .side-link {
        padding: 8px;
        font-size: 14px;
    }

    .sidebar-toggle {
        display: block;
        position: absolute;
        width: 100px;
        top: 90px;
        left: 20px;
    }

    .right-sidebar {
        width: 100%;
        margin: 10px;
        margin-top: 20px;
    }

    .right-heading-title {
        font-size: 30px;
    }

    .introduction {
        width: 100%;
    }

    .intro-title {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 10px;
    }

    .intro-subtitle {
        font-size: 18px;
        padding-right: 10px;
    }

    .menu-btn {
        display: block;
    }

    .line-break-right {
        width: 100%;
    }

    .intro-description {
        padding-bottom: 20px;
    }

    .description-heading {
        font-size: 16px;
        margin-top: 20px;
    }

    .line-gap {
        margin-bottom: 20px;
    }

    .description-title {
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .youtube-video {
        border-radius: 20px;
    }

    iframe {
        height: 340px;
    }

}

/* ==============================Extra Small Device============================== */
@media (max-width: 575.98px) {
    .left-sidebar {
        display: none;
        width: 120px;
        margin: 0;
    }

    nav {
        position: absolute;
        width: 120px;
    }

    .table-content {
        font-size: 10px;
        padding: 14px;
    }

    .heading-title {
        font-size: 20px;
        padding-left: 10px;
    }

    .table-content {
        font-size: 14px;
    }

    .side-link {
        padding: 6px;
        font-size: 10px;
    }

    .sidebar-toggle {
        display: block;
        position: absolute;
        width: 120px;
        top: 70px;
        left: 15px;
    }

    .folder-group{
        padding-left: 10px;
    }

    .right-sidebar {
        width: 100%;
        margin: 8px;
    }

    .right-heading-title {
        font-size: 24px;
        padding-left: 10px;
    }

    .introduction {
        width: 100%;
    }

    .intro-title {
        font-size: 16px;
        padding-left: 10px;
    }

    .intro-subtitle {
        font-size: 16px;
        padding-left: 10px;
    }

    .feature-item{
        padding-left: 0;
    }

    .menu-btn {
        display: block;
    }

    .description-heading {
        font-size: 14px;
        margin-top: 18px;
        padding-left: 10px;
    }

    ul, ol {
        padding-left: 30px;
    }

    .package-title{
        padding-left: 0;
    }

    .feature-item{
        padding-left: 0;
    }

    .line-gap {
        margin-bottom: 20px;
    }

    .description-title {
        font-size: 20px;
        margin-bottom: 18px;
        margin-top: 22px;
        padding-left: 10px;
    }

    .edit-figma-video {
        padding: 10px;
    }

    .youtube-video {
        border-radius: 20px;
    }

    iframe {
        height: 200px;
    }
}



















